/*
font-family: 'Cairo', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Titillium Web', sans-serif;
*/
*{
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-image: url(images/paper_1.png);
    background-size: 115%;
    background-position: bottom;; 
    background-attachment: fixed;
    background-repeat: no-repeat;

}

#button_predict{
    position: absolute;
    top: 590px;
    left: 603px;
    display: inline-block;
    width: 100px;
    height: 50px;
    border: 2px solid #F2AAAA;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

#heading_text{
    /* padding: 20px; */
    text-align: center;
    color: rgb(0, 0, 0);
    /* background-image: linear-gradient(45deg, rgb(16,55,131), rgb(47, 97, 206), rgb(16,55,131)); */
    border-radius: 15px;
    font-family: 'DM Serif Display';
    font-weight: 850;
    font-size: 75px;
    margin-top: 50px;
}

#logo{
    width:200px;
    height:200px;
    margin-left: 5px;
    margin-top: -150px;
}

#line1{
    width:1000px;
    height:3px;
    background:rgb(0, 0, 0);
    margin-left: 220px;
    margin-top: -160px;
}

#line2{
    width:1000px;
    height:3px;
    background:rgb(0, 0, 0);
    margin-left: 220px;
    margin-top: 5px;
}


#line3{
    width:1000px;
    height:3px;
    background:rgb(0, 0, 0);
    margin-left: 220px;
    margin-top: 100px;
}

#line4{
    width:1000px;
    height:3px;
    background:rgb(0, 0, 0);
    margin-left: 220px;
    margin-top: 5px;
}

#text1{
    /* padding: 20px; */
    text-align: right;
    color: rgb(0, 0, 0);
    /* background-image: linear-gradient(45deg, rgb(16,55,131), rgb(47, 97, 206), rgb(16,55,131)); */
    /* border-radius: 15px; */
    font-family: 'DM Serif Display';
    font-weight: 850;
    font-size: 50px;
    margin-top: -95px;
    margin-right: 60px;
}