<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Blast From The Past </title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=EB+Garamond&family=Titillium+Web&display=swap" rel="stylesheet">

        
    </head>

    <body>
        <form action="/create/" method="post">
            <button id = 'button_predict' name="forwardBtn" type="submit">Predict</button>
        </form>


        <h1 id="heading_text">Blast From The Past</h1>

        <script src="{{ url_for('static', filename='/script.js') }}"></script>

        <img id="logo" src="../static/css/images/logo.png" alt="image">

        <div id="line1"></div>
        
        <div id="line2"></div>

        <div id="line3"></div>

        <div id="line4"></div>

        <p id="text1">2023</p>
        
    </body>
</html>