@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../assets/DMSerifDisplay-Regular.ttf'),format('ttf');
  }

@font-face {
font-family: 'Newsreader Regular';
src: url('../assets/Newsreader_24pt-Regular.ttf'),format('ttf');
}

#custom-h1{
    font-family: Myriad Pro Regular;
    font-size: 90px;
    padding-top: 10px;
    padding-bottom: 30px;
}

#custom-h2{
    font-family: Myriad Pro Regular;
    font-size: 40px;
    color: #39312B;
    text-decoration:none;
    
}

#custom-h3{
    font-family: Myriad Pro Regular;
    font-size: 20px;
    color: #39312B;
    text-decoration:none;
    
}

#custom-h4{
    font-family: Myriad Pro Regular;
    font-size: 25px;
    color: #39312B;
    text-decoration:none;
    
}

#custom-h5{
    font-family: Myriad Pro Regular;
    font-size: 100px;
    color: #39312B;
    text-decoration:none;
}

#custom-h6{
    font-family: Newsreader Regular;
    font-size: 80px;
    color: #39312B;
    text-decoration:none;
}


#main{
    margin-left: 30px;
}

#signup-button{
    margin-left: 30px;
}

#loginButton{
    background-Color:white;
    border-color: #39312B;
    border-radius: 10px;
    font-family: Myriad Pro Regular;
    font-size: 15px;
    margin-right: 150px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#Button{
    background-Color:white;
    border-color: #39312B;
    border-radius: 10px;
    font-family: Myriad Pro Regular;
    font-size: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#logo{
    margin-left: 150px;
}

.line{
    width: 1218px; /* Adjust the width of the lines */
    height: 2px; /* Adjust the height of the lines */
    background-color: #39312B; /* Adjust the color of the lines */
    margin: 5px 0; /* Adjust the margin between the lines */
}

.line2{
    width: 455px; /* Adjust the width of the lines */
    height: 2px; /* Adjust the height of the lines */
    background-color: #39312B; /* Adjust the color of the lines */
    margin: 5px 0; /* Adjust the margin between the lines */
}

#header{
    margin: 30px;
}

#lines{
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin: 20px;
}


#lines-2{
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin: 20px;
    margin-top: 20px;
    
}

#box{
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin-top: 50px;
}

#myTextBox{
    font-family: Myriad Pro Regular;
    
}

#textbox{
    margin-bottom: 20px;
}

#textbox2{
    margin-bottom: 30px;
}

.custom-input {
    color: #39312B ; /* Change text color */
    background-color: white; /* Change background color */
    border: 3px solid #39312B; /* Add an outline */
    padding: 8px; /* Add padding for better aesthetics */
    border-radius: 4px; /* Optional: Add rounded corners */
}

#profileicon{
    margin-right: 150px;
}

#icon{
    margin-left: 150px;
}

.link-style {
    text-decoration: none; /* Set no underline by default */
  }
  
  .link-style:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #39312B;
    
  }