@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../assets/DMSerifDisplay-Regular.ttf'),format('ttf');
  }

#loginButton{
    background-Color:white;
    border-color: #39312B;
    border-radius: 10px;
    font-family: Myriad Pro Regular;
    font-size: 15px;
    margin-right: 100px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#logo{
    margin-left: 100px;
}

.line{
    width: 1218px; /* Adjust the width of the lines */
    height: 2px; /* Adjust the height of the lines */
    background-color: #39312B; /* Adjust the color of the lines */
    margin: 5px 0; /* Adjust the margin between the lines */
}

#lines{
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    margin: 10px;
}